<%- include('../partials/head.ejs') %>
    <link href="/styles/register.css" rel="stylesheet">
    

<!-- =========================================================================================================== -->
        
        <!-- -HEADER / ENCABEZADO- -->
        <%- include('../partials/header.ejs') %>

<!-- =========================================================================================================== -->

        <!-- ----LOGIN / ACCESO---- -->
        <main class="main-login">
            
            <section class="main-login_section">

                <div class="main-login_title">
                    <h1>¡Inicia la buena vibra!</h1>
                </div>
                <form action="/users/register" method="POST" class="main-login_form" enctype="multipart/form-data">

                    <div class="main-login_form_box-container one-login">
                        
                        <div class="main-login-form-box-container_title">
                            <h2>CREAR CUENTA</h2>
                        </div>
                        
                        <div class="register-method-change">
                                <i class="fa-brands fa-google-plus-g"></i>
                                <i class="fa-brands fa-square-facebook"></i>
                                <i class="fa-brands fa-apple fa"></i>
                        </div>
                        <% if (locals.errores) {  

                            errores.forEach(error => { %>
                                <p class="error"> <%= error.msg %> </p>
                            <%  }); 
                        }%>

                        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                            <!-- Iterar sobre los errores y mostrar mensajes -->
                            <% for (let error = 0; error < errors.length; error++) { %>
                                <p class="error"> <%= errors[error].msg %> </p>
                            <% } %>
                        <% } %>
                        
                        <div class="errores">
                            <ul></ul>    
                        </div>
                        
                        <div class="fieldset names">
                            <div class="label">
                                <label for="user-name"></label>
                            </div>
                                <div class="fa-onda fa-logo">
                                    <img src="/img/svg/simbolequalizer.svg" alt="">
                                </div>
                            <div class="input">                              
                                <input id="user-name" name="name" type="text" placeholder="Nombres" value="<%= locals.old && old.name ? old.name : '' %>" autocomplete="given-name">
                            </div>
                        </div>

                        <div class="fieldset last-names">
                            <div class="label">
                                <label for="Apellidos"></label>
                            </div>
                            <div class="fa-onda fa-logo">
                                <img src="/img/svg/simbolequalizer.svg" alt="">
                            </div>
                            <div class="input">
                                <input id="last-name" name="lastName" type="text" placeholder="Apellidos" value="<%= locals.old && old.lastName ? old.lastName : '' %>" autocomplete="given-name">
                            </div>
                        </div>
        
                        <div class="fieldset email">    
                            <div class="label">
                                <label for="email"></label>
                            </div>
                            <div class="fa-onda fa-logo">
                                <img src="/img/svg/simbolequalizer.svg" alt="">
                            </div>
                            <div class="input">
                                <input id="e-mail" name="email" type="e-mail" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : '' %>" autocomplete="given-name">
                            </div>
                        </div>
                        
                        <div class="fieldset country">
                            
                            <select name="country" id="country" class="fieldset-input estado-producto">
                                <option value="34" selected>Sin Definir </option>
                                <option value="1">Antigua y Barbuda</option>
                                <option value="2">Argentina</option>
                                <option value="3">Bahamas</option>
                                <option value="4">Barbados</option>
                                <option value="5">Belice</option>
                                <option value="6">Bolivia</option>
                                <option value="7">Brasil</option>
                                <option value="8">Canadá</option>
                                <option value="9">Chile</option>
                                <option value="10">Colombia</option>
                                <option value="11">Costa Rica</option>
                                <option value="12">Cuba</option>
                                <option value="13">Dominicana</option>
                                <option value="14">El Salvador</option>
                                <option value="15">Estados Unidos</option>
                                <option value="16">Granada</option>
                                <option value="17">Guatemala</option>
                                <option value="18">Guyana</option>
                                <option value="19">Haití</option>
                                <option value="20">Honduras</option>
                                <option value="21">Jamaica</option>
                                <option value="22">México</option>
                                <option value="23">Nicaragua</option>
                                <option value="24">Panamá</option>
                                <option value="25">Paraguay</option>
                                <option value="26">Perú</option>
                                <option value="27">República Dominicana</option>
                                <option value="28">San Cristóbal y Nieves</option>
                                <option value="29">San Vicente y la Granadinas</option>
                                <option value="30">Santa Lucía</option>
                                <option value="31">Surinam</option>
                                <option value="31">Trinidad y Tobago</option>
                                <option value="32">Uruguay</option>
                                <option value="33">Venezuela</option>
                            </select> 
                        </div>
        
                        <div class="fieldset password">
                            <div class="label">
                                <label for="password"></label>
                            </div>
                            <div class="fa-onda fa-logo">
                                <img src="/img/svg/simbolequalizer.svg" alt="">
                            </div>
                            <div class="input">
                                <input id="password" name="password" type="password" placeholder="Contraseña" value="<%= locals.old && old.password ? old.password : '' %>" autocomplete="given-name">
                            </div>

                        </div>

                        <div class="fieldset confirm-password">
                            <div class="label">
                                <label for="Confirmar contraseña"></label>
                            </div>
                            <div class="fa-onda fa-logo">
                                <img src="/img/svg/simbolequalizer.svg" alt="">
                            </div>
                            <div class="input">
                            <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirmar contraseña" autocomplete="given-name">
                            </div>
                        </div>

                        <div class="fieldset img-profile">
                            <div class="label">
                                <label for="Imagen de Perfil"></label>
                            </div>
                            <div class="fa-onda fa-logo">
                                <img src="/img/svg/simbolequalizer.svg" alt="">
                            </div>
                            <div class="input">
                                <input placeholder="Imgen de Perfil" type="file"  name="imgProfile" class="img-profile">
                            </div>
                        </div>
                        
                        <div class="button crear">
                            <input type="submit" value="Crear">
                        </div>
                            
                    </div>
        
                    <div class="main-login_form_box-container two-login">
                            
                            <article class="paragraph">
                                
                            <div class="img-link-soundBox">
                                <a href="/">
                                    <img id="logo" src="/img/svg/estandar.svg" alt="SoundBox">
                                </a>
                            </div>
                            
                            <div class="text">
                                
                                <p>¿Ya eres parte de SoundBox?</p>
                                
                                <div class="a-crear-cuenta">
                                    <a href="/users/login">Ingresar</a>
                                </div>
                                
                            </div>
        
                        </article>
                        
                        <div class="button">
        
                            <a href="/users/login">
                                <input type="button" name="" id="" value="Ingresar">
                            </a>
                            
                        </div>
        
                    </div>
                    
                </form>

            </section>
            
        </main>

        <script src="../scripts/registerV.js"></script>
<!-- =========================================================================================================== -->
        
        <!-- FOOTER / PIE DE PAGINA -->
        <%- include('../partials/footer.ejs') %>
        
<!-- =========================================================================================================== -->