<!-- -VISTA PARA USUARIOS- -->

<%- include('../partials/head.ejs') %>
    <link href="/styles/users.css" rel="stylesheet">

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('../partials/header.ejs') %>

        <!-- =========================================================================================================== -->

        <main>

            <div id="profile-title">

            </div>
            <section class="primary-section">
                <section class="first-section">
                    <section class="second-section">
                        <div class="img-container">
                            <img src="/img/users/<%= user.image %>" alt="">
                        </div>
                        <strong>
                            <%= user.first_name %>
                                <%= user.last_name %>
                        </strong>
                        <div class="user-buttons">
                            <div class="delete-user">
                                <button class="profile-button" onclick="show()"> Editar usuario </button>
                            </div>
                            <div class="more-user">
                                <button class="profile-button"> > </button>
                            </div>
                        </div>
                    </section>
                    <div class="user-description" id="user-description">
<<<<<<< HEAD
                        <div class="data-user">
                            <span style="text-decoration: underline;">
                                Tus Datos:
                            </span>
                            <span>
                                E-mail: <br>
                                <%= user.e_mail %>
                            </span>
                            <span>
                                Tipo de usuario: <br>
                                <%= user.user_type.user_type %>
                            </span>
                            <span>
                                País: <br>
                                <%= user.country.country %>
                            </span>
=======
                        <span style="text-decoration: underline;">
                            Tus Datos:
                        </span>
                        <span>
                            Nombre: <br>
                            <%= user.first_name %>
                        </span>
                        <span>
                            Apellido: <br>
                            <%= user.last_name %>
                        </span>
                        <span>
                            E-mail: <br>
                            <%= user.e_mail %>
                        </span>
                        <span>
                            País: <br>
                            <%= user.country.country %>
                        </span>

                        <div class="delete-user">
                            <button class="profile-button" onclick="show()"> Editar usuario </button>
>>>>>>> f9e9655188597c1b67409a9ee9308234c9b64728
                        </div>
                       <!--  <section class="registered-purchases">
                            <div class="latest-purchases">
                                <img src="/img/products/IMG_DEFAULT.svg" alt="">
                                <img src="/img/products/IMG_DEFAULT.svg" alt="">
                                <img src="/img/products/IMG_DEFAULT.svg" alt="">
                                <img src="/img/products/IMG_DEFAULT.svg" alt="">
                            </div>

                        </section> -->
                    </div>
                    <section id="edit-user-form">
                        <!-- SE BUSCA EL TIPO DE USUARIO DE LA SESIÓN A TRAVÉS DE 'LOCALS', PARA CONFIGURAR EL ATRIBUTO 'action' DEL FORMULARIO -->
                        <% if (locals.userIsLogged==true && locals.userIsAdmin==false) { %>
                            <form action="/users/userProfile/<%= user.id %>?_method=PUT" method="POST"
                                enctype="multipart/x-www-form-urlencoded">
                                <% } else if (locals.userIsLogged==true && locals.userIsAdmin==true) { %>
                                    <form action="/admin/userProfile/<%= user.id %>?_method=PUT" method="POST"
                                        enctype="multipart/x-www-form-urlencoded">
                                        <% } %>

                                            <div class="errores">
                                                <ul></ul>
                                            </div>

                                            <label for="">
                                                <p>Name</p>
                                                <input id="user-name" name="first_name" type="text"
                                                    value="<%= user.first_name %>">
                                            </label>
                                            <label for="">
                                                <p>Last name</p>
                                                <input id="last-name" name="last_name" type="text"
                                                    value="<%= user.last_name %>">
                                            </label>
                                            <label for="">
                                                <p>Email</p>
                                                <input id="e-mail" name="e_mail" type="text" value="<%= user.e_mail %>">
                                            </label>

                                            <div>
                                                <input class="profile-button" type="submit">
                                                <button class="profile-button" onclick="hide()">Volver</button>
                                            </div>

                                    </form>
                    </section>

                </section>
            </section>
        </main>

        <!-- =========================================================================================================== -->

        <!-- FOOTER / PIE DE PAGINA -->
        <%- include('../partials/footer.ejs') %>
            <script src="/scripts/user.js"></script>

            <!-- =========================================================================================================== -->